TUPLES ARE A TYPE OF DATA SEQUENCES *but differently to list* THEY ARE IMMUTABLE.
TUPLES CANNOT BE CHANGED OR MODIFIED YOU CANNOT APPEND OR DELETE ELEMENTS.
Tuples is default sequence list in python.

In [1]:
x = (40,41,42)
x

(40, 41, 42)

In [2]:
y = 50,51,52
y

(50, 51, 52)

In [3]:
a,b,c = 1,4,6
c

6

In [4]:
x[0]

40

In [6]:
list_1 = [x,y]
list_1

[(40, 41, 42), (50, 51, 52)]

In [7]:
(age, years_of_school) = "30,17".split(',')
print(age)
print(years_of_school)

30
17

FUNCTION CAN PROVIDE TUPLES AS RETURN VALUES

In [9]:
def square_info(x):
    A = x ** 2
    P = 4 * x
    print ("Area and perimeter:")
    return A,P
square_info(3)

Area and perimeter:

(9, 12)